################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PurchaseItem/bin/Debug
/PurchaseItem/obj
/.vs
